<!doctype html>
<html>
<head>
</head>
<body>

    <%- include('header.ejs') %>

  <div style="margin:20px;" class="text-center">
    <div class="jumbotron"  style="padding:40px;">
      <h2>Welcome to Web Application using Express</h2>
      <img src="Banner3.jpg"  style="height:250px; width:90%; border:1px solid black;" />
      <br/>
      <br/>
    </div>
  </div>
</body>
</html>